{% extends "base.html" %}
{% block content %}        
<section id="content">
<div class="posts">
    <ol id="post-list">
    {% for article in articles_page.object_list %}        
        <li>
          <article class="archive">
            <header> 
              <h2 class="archive-entry-title">
                  <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title}}">{{ article.title }}</a>
              </h2> 
            </header>
            <footer class="post-info">
              <abbr>
                {{ article.locale_date }} 
                {% if article.author %}
                   By {{ article.author }}
                {% endif %}  
              </abbr>
            </footer><!-- /.post-info -->
            <div class="entry-summary"> {{ article.summary }} <br />
            <a href="{{ SITEURL }}/{{ article.url }}">read more</a></div>
            <!-- /.entry-content -->
          </article>
        <hr />
        </li>
    {% endfor %}
    </ol><!-- /#posts-list -->
</div>
{% include 'pagination.html' %}
</section><!-- /#content -->
{% endblock content %}
